.new-tweet {
  display: flex;
  flex-direction: column;
  height: 20vh;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom:100px;
}

#tweet-text {
  max-width: 100%;
  min-width: 100%;
  max-height: 30%;
  min-height: 30%;
  background-color: #ced1eb;
  border: none;
  border-bottom: 3px solid #545149;
  resize: none;
}

.alert {
  display: none;
  border: 3px solid crimson;
  width: 100%;
  color: crimson;
  font-family: "Bungee", cursive;
  line-height: 25px;
}

.max-length {
  display: flex;
  background-color: #f4f1ec;
  border: none;
  outline: 2px solid crimson;
  color: crimson;
  height: 30px;
  max-height: 32px;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  justify-content: center;
}

.no-text {
  display: flex;
  background-color: #f4f1ec;
  border: none;
  outline: 2px solid crimson;
  font-family: "Bungee", cursive;
  height: 30px;
  max-height: 32px;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  align-items: center;
}

.visual-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.button {
  display: flex;
  font-family: "Bungee", cursive;
  font-size: medium;
  color: #FFFFFF;
  background-color: #4056A1;
}

.counter {
  display: flex;
  flex-direction: column;
  align-self: right;
  font-family: "Bungee", cursive;
  font-size: large;
}

.overLimit {
  color: red;
}
